body {
    text-align: center;
    background-size: cover;
}

main {
    margin-top: 400px;
    /* width: auto;
    /* margin: 10vh auto;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */

}

#explore {
text-align: center;
height: 60px;
width: 200px;
background-color: rgb(101, 133, 37);
font-size: 20px;
color: aliceblue;
font-family: 'Comfortaa', cursive;
border-color: rgb(21, 49, 21);
border-radius: 15px;
margin-top: 5vh;

}

.dropdown {
text-align: center;
border-color: rgba(88, 4, 4, 0.582);
color:rgb(78, 102, 31);
border-bottom: 50px;
font-family: 'Comfortaa', cursive;
color:rgba(88, 4, 4, 0.582)

} 