body {
    text-align: center;
    /* justify-content:  */
    background-size: cover;
}

main {
    margin-top: 400px;
    /* width: auto;
    /* margin: 10vh auto;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */

}

#explore {
height: 40px;
width: auto;
background-color: rgb(101, 133, 37);
color: aliceblue;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-color: rgb(21, 49, 21);
border-radius: 15px;
margin-top: 5vh;

}

.dropdown {
border-color: rgba(88, 4, 4, 0.582);
color:rgb(78, 102, 31);
border-bottom: 50px;
} 