.header {
    padding: 60px;
    text-align: center;
    background-image: url("../images/fall_great_smoky_mountains.jpg");
    color: white;
    font-size: 30px;
  }

  #contact {
    text-align: left;
    margin-top: 50px;
  }